.location {
  color: #5a6275;
  border-radius: 15px;
  background: #f7fbfc;
  padding: 15px auto;
  border: 1px #060608;
  display: block;
  margin: 20px auto;
  font-size: 10px;
  font-family: "Pathway Gothic One", sans-serif;
}

body {
  background-color: #d6e6f2;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  display: block;
  border: 3px solid #769fcd;
  border-radius: 10px;
  font-family: "Pathway Gothic One", sans-serif;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.8);
}

h2,
h3 {
  text-align: center;
  font-size: 40px;
  font-family: "Pathway Gothic One", sans-serif;
}

.row {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 25px;
  max-width: 400px;
  margin: 0px auto;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.fas {
  text-align: center;
  display: block;
  font-size: 25px;
  color: #005792;
}

button {
  display: block;
  margin: 0px auto;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 20px;
  background: #2d4059;
  border: 1px solid #2d4059;
  border-radius: 30px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.col-6 {
  display: 5px auto;
  padding: 0px;
  font-weight: bold;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 20px;
  max-width: 300px;
  margin: 10px auto;
  border-radius: 30px 60px;
  transition: all 200ms ease-in-out;
  text-align: center;
}

.w-100 {
  display: 10px auto;
  padding: 25px;
  font-weight: bold;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 15px;
  max-width: 400px;
  margin: 0px auto;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #ffffff;
  color: #1c64d6;
  cursor: pointer;
}

form {
  max-width: 700px;
  font-size: 10px;
  padding: 20px 10px;
}

.date {
  font-size: 40px;
  padding: 10px 10px;
  background: #769fcd;
  font-family: "Pathway Gothic One", sans-serif;
  margin: 0px auto;
}

.humidity1 {
  font-size: 20px;
  margin: 0px auto;
  display: 10px auto;
}
.humidity2 {
  font-size: 20px;
  margin: 0px auto;
  display: 10px auto;
}
.Wind1 {
  font-size: 20px;
  margin: 0px auto;
  display: 10px auto;
}
.Wind2 {
  font-size: 20px;
  margin: 0px auto;
  display: 10px auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.title-3 {
  font-size: 60px;
}

.units {
  font-size: 60px;
}

.float-left {
  display: 0px auto;
  padding: 0px auto;
}

.weather-forecast {
  margin-top: 1px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 20px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 20px;
}
